@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <Content Style="padding: 0 24px;">
            @Body
        </Content>
    </div>
    <br />
    <Footer Style="text-align: center; ">Ant Design ©2018 Created by Ant UED</Footer>
</div>